* {
    font-family :-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    transition: all .3s ease;
    max-width: 100%;
}
html {
    scroll-behavior: smooth;
}

.my-navbar {
    height: 3rem;
}

.align-items-center {
    -ms-flex-align: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.mt-4, .my-4 {
    margin-top: 1.5rem !important;
}

:root {
    --main-color: #be9c79;
    --black-color: #333;
    --white-color: #fff;
    --light-color: #666;
    --border-color: .1rem solid var(--black-color);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border-color: .1rem solid var(--black-color);
    --white-color: #fff;
    --blue-head: #112e51;
    --blue: #007bff;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #0071bc;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --black: #212529; 
    --color-text: #5b616b;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.ml-5 {
    margin-left: 5px;
}

.btn {
    display: inline-block;
    background-color: var(--orange);
    cursor: pointer;
    color: var(--white);
    font-weight: bold;
    font-size: 1.3rem;
    padding: 8px 15px;
    border-radius: 10px;
}

.btn:hover {
    background-color: var(--green);
}

.btn-tutor-blue {
    background-color: var(--primary);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--white);
    font-size: 20px;
}

.btn-tutor-blue:hover {
    background-color: var(--orange);
}

.btn-tutor-logout {
    background-color: rgba(255, 255, 255, 0);
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--white);
    border: 2px solid var(--white);
    font-size: 20px;
}

.btn-tutor-logout:hover {
    background-color: rgba(255, 255, 255, 0.253);
}

.btn-tutor-logout i {
    margin-right: 5px;
    font-size: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mr-20 {
    margin-right: 20px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.btn-tutor-blue {
    background-color: var(--primary);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--white);
    font-size: 20px;
}

/* Header */
.header .nav-main {
    height: 75px;
    background-color: var(--blue-head);
    position: relative;
}

.header .nav-main .logo img {
    position: absolute;
    top: 8px;
    height: 4rem;
}

.header .nav-main ul {
    position: absolute;
    right: 0;
    margin-right: 50px;
}

.header .nav-main ul li{
    display: inline-block;
    color: var(--white);
    margin-right: 15px;
    font-size: 20px;
    font-weight: 600;
}

.header .nav-main ul li a {
    color: var(--white);

}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1rem 3rem;
    border-bottom: 1px solid #333;
}

.header .nav-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1rem 3rem;
}

.header .flex .navbar a {
    margin-left: 1rem;
    font-size: 1.3rem;
    color: var(--color-text);
}

.header .flex .navbar a:hover {
    text-decoration: underline;
    color: var(--orange);
}

.header .flex .login-regit a {
    color: var(--color-text);
    font-size: 1.2rem;
    margin-right: 1rem;
}

.header .flex .login-regit a:hover {
    text-decoration: underline;
    color: var(--orange);
}

.header .nav-main #menu-btn {
    display: none;
    -webkit-font-smoothing: auto;
    background-color: #0071bc;
    color: #fff;
    position: absolute;
    right: 0;
    padding: 0 25px;
    font-size: .8rem;
    height: 75px;
    line-height: 75px;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}


#menu-btn span{
    margin-left: 10px;
}

