* {
    font-family :-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    transition: all .3s ease;
    max-width: 100%;
}
html {
    scroll-behavior: smooth;
}

.my-navbar {
    height: 3rem;
}

.align-items-center {
    -ms-flex-align: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.mt-4, .my-4 {
    margin-top: 1.5rem !important;
}
